.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 32px 0 20px;
  background-color: var(--topbar-bg);
}

.leftSection {
  display: flex;
  align-items: center;
}

.toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  color: aliceblue;
}

.headerSearch {
  width: 400px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}

.iconBtn {
  background: transparent;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: color 0.2s;
}

.iconBtn:hover {
  color: var(--text-primary);
}

.divider {
  width: 1px;
  height: 24px;
  background-color: var(--border-color);
  margin: 0 8px;
}

.companyName {
  font-weight: 500;
  color: var(--text-primary);
  font-size: 0.95rem;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 8px;

}

.userProfile:hover {
  background-color: var(--bg-tertiary);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}


.avatarCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #29569f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.userName {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-primary);
}

.userRole {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.settingsBtn {
  background: transparent;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: color 0.2s;
}

.settingsBtn:hover {
  color: var(--text-primary);
}